@media screen and (max-width:600px) {

    /* Common Shared Style */

    .common-title{
    font-size: 1.25rem;
    }

    .common-description{
        font-size: 0.875rem;
    }
    
    .nav-container{
        justify-content: space-between;
    }
    
    .nav-title{
        font-size: 1.3rem;
        width: 70%;
    }
    .nav-bar ul{
        display: none;
    }
    .nav-bar .menu-bar{
        display:flex;
        justify-content: end;
        margin-right: 20px;
    }

    /* Banner section */

    .banner{
        padding: 16px 32px;
    }
    .banner .banner-title{
        font-size: 1.3rem;
    }

    .banner .banner-description{
        font-size: 0.8rem;
    }

    .banner-form{
        display: flex;
        flex-direction: column;
        width: 95%;
        gap: 16px;
    }

    .popular-container{
        flex-direction: column;
    }

    .popular-text{
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        margin-bottom: 20px;
    }

    .popular-img{
        display: flex;
        justify-content: center ;

    }
}