@media screen and (min-width:600px) and (max-width:992px) {
   
    main{
        width: 100%;
        padding: 0 1rem;
    }

    .nav-title{
        font-size: 1.3rem;
        width: 70%;
    }

    .banner{
        padding: 20px 40px;
    }
    .banner .banner-title{
        font-size: 2.3rem;
    }

    .banner .banner-description{
        font-size: 1.3rem;
    }

    .popular-container{
        flex-direction: column;
    }

    .popular-text{
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        margin-bottom: 20px;
    }

    .popular-img{
        display: flex;
        justify-content: center ;

    }

    .destination-img{
        display: flex;
        flex-direction: column;
    }

    .newsletter-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 65vh; */
    }

    .simple-perfect{
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10px;
    }

    .newsletter-img{
        margin-top: 50px;
        width: 100%;
    }

    .newsletter-text {
        /* margin-left: 30px; */
        width: 100%;
    }

    .newsletter-img img{
        width: 100%;
    }
}