@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@400;700;800&display=swap');

body{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Mulish', sans-serif;
}

:root{
    --primary-color:#FF5400;
    --p-black: rgba(19, 19, 24, 0.70);
    --header-font: #131318;
    --dark-ash: #5A5A5D;
}

/* Shared common Style */
.btn-primary{
    color: white;
    border-radius: 8px;
    background: #FF5400;
    font-size: 1rem;
    font-weight: 400;
    padding: 16px 35px;
}

.common-title{
    color: var(--header-font);
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
}

.common-description{
    color: var(--p-black);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

/* Nav Style */
.nav-container{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}

.nav-title{
    color: var(--header-font);
    font-size: 2.25rem;
    font-weight: 800;
    width: 50%;
}

.nav-title .nav-span{
    color: var(--primary-color);
}


.nav-bar{
    width: 50%;
}

.nav-bar .menu-bar{
    display: none;
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
}

.nav-bar ul li{
    list-style: none;
}

.nav-bar ul li a{
    text-decoration: none;
    color: var(--dark-ash);
}

.nav-bar ul li .home-menu{
    color: var(--primary-color);
}

/* Banner Section */

/* .banner-section{
} */

.banner{
    background-image: url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    /* height: 500px; */
    background-size:cover;
    padding: 106px 185px;
    text-align: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.banner-title{
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-description{
    color: #FFF;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 48px;
    max-width: 676px;
}

.banner-form{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    max-width: 768px;
    margin: 0 auto;
    padding: 16px;
}

.banner-form input,.banner-form select,button{
    border: none;
}

.banner input{
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
}


.banner-form select {
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;

}


/* Popular Section */

.popular-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-text{
    width: 50%;
}

.popular-text h2,p,ul{
    margin-bottom: 24px;
}
.popular-text ul li{
    margin-bottom: 16px;
}

.popular-paragraph{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}





